* {
  font-family: 'Montserrat', sans-serif;
  color: #ffff;
}
@import 'common';
.page {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-table {
  height: 1000px;
  width: 1440px;
  background-color: #000;
  padding: 115px 132px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-card {
  height: 770px;
  width: 380px;
  background-color: #334247;
  padding-top: 33px;
  margin-right: 18px;
  overflow: hidden;
  position: relative;

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    margin: 0;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0;
  }
  &__description {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    margin: 40px 26px;
  }
}
.price__basic {
  background: #5bb189;
}

.list__item {
  display: flex;
  align-items: center;
}
.item-icon {
  margin: 18px 22px;
}
.item-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
.btn-basic {
  background-color: #5bb189;
}

div .list__item:nth-child(odd) {
  background-color: #2a3438;
}
.price__business,
.btn-business {
  background-color: #3a6ba5;
}
.price__webshop,
.btn-webshop {
  background-color: #ec632a;
}
.popular {
  height: 25px;
  width: 147px;
  background-color: #dc3f45;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  transform: rotate(50deg);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 270px;
}
